<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link rel="icon" href="favicon.ico?v=2">
  <title>Vineeth Nekkanti</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>
<nav class="navbar bg-custom navbar-expand-lg navbar-light" >
<a class="navbar-brand" href="">
  <img src="images/Photo Suit-circle.png" width="30%" height="30%" alt="Vineeth Nekkanti">
</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav ms-auto list">
  <li class="nav-item" >
      <a class="nav-link" class= "color-me" href="">Contact</a>
  </li>
  <li class="nav-item" >
      <a class="nav-link" class= "color-me" href="">Skills</a>
  </li>
  <li class="nav-item" >
      <a class="nav-link" class= "color-me" href="">Download CV</a>
  </li>
</ul>
</div>
</nav>


  <div class="top-container">
    <img class="top-cloud" src="images/cloud2.gif" alt="Cloud GIF">
    <div class="text">
      <h1> I'm Vineeth.</h1>
      <h4>And this is my story.</h4>
    </div>
    <img class="bottom-cloud" src="images/cloud2.gif" alt="Cloud GIF">
    <img class="mountain" src="images/Mountain.png" alt="Mountain">
  </div>
  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->
  <div class="middle-container">
    <div class="profile">
      <img class="profile-pic" src="images/Vineeth nekkanti.png" alt="My Photo">
      <h2>Hello.</h2>
      <h4>These are the Passions that drive me!</h4>
      <div class="Passion-Icons">
        <figure>
          <img src="images/sales.gif" alt="Sales" height="120px" style="border-radius:50%; margin:15px;">
          <figcaption>
            <h5>Sales & Stories</h5>
          </figcaption>
        </figure>
        <figure>
          <img src="images/cycling.gif" alt="Sales" height="120px" style="border-radius:50%; margin:15px;">
          <figcaption>
            <h5>Edurance Cycling</h5>
          </figcaption>
        </figure>
        <figure>
          <img src="images/webdev.gif" alt="Sales" height="120px" style="border-radius:50%; margin:15px;">
          <figcaption>
            <h5>Web Development</h5>
          </figcaption>
        </figure>
      </div>

      <div class="timeline-heading">
        <h2>Timeline</h2>
        <ul class="timeline">
          <li data-year="2012" data-text="Sri Chaitanya Grade 11"></li>
          <li data-year="2014" data-text="NIT Raipur Mechanical Engineering"></li>
          <li data-year="2018" data-text="L&T Construction Graduate Engineer Trainee"></li>
          <li data-year="2019" data-text="MDI Gurgaon MBA"></li>
          <li data-year="2021" data-text="Johnson&Johnson Management Trainee"></li>
        </ul>
      </div>
     
    </div>


    <div class="EQ">
      <h3>Educational Qualifications</h3>
      <br>
      <table id="EQT">
        <tbody>
          <tr>
            <td><strong>Qualification</strong></td>
            <td><strong>Institute</strong></td>
            <td><strong>CGPA</strong></td>
            <td><strong>Year</strong></td>
          </tr>
          <tr>
            <td>MBA (Marketing & Operations)</td>
            <td>Mangement Development Institute</td>
            <td>6.45/10</td>
            <td>2021</td>
          </tr>
          <tr>
            <td>B.Tech (Mechanical)</td>
            <td>National Institute of Technology, Raipur</td>
            <td>8.35/10</td>
            <td>2018</td>
          </tr>
          <tr>
            <td>XII, (APBIE)</td>
            <td>Sri Chaitanya Junior College, Vijayawada</td>
            <td>9.6/10</td>
            <td>2014</td>
          </tr>
          <tr>
            <td>X, (CBSE)</td>
            <td>Johnson Grammar School</td>
            <td>10/10</td>
            <td>2012</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="CWE">
      <h3>Current Work Experience</h3>
      <br>
      <table id="CWET">
        <tbody>
          <tr>
            <td> <a class = "JnJlink" href="https://www.jnj.in/our-business/consumer" target="_blank"><strong>Johnson & Johnson Consumer Health</strong></a> </td>

            <td width ='15%'> 7 Months</td>
          </tr>
          <tr>
            <td>Management Trainee, <em>Sales</em>
            </td>

            <td>Jul'21 - Dec'21</td>
          </tr>
          <tr >
            <td colspan="2">
              <ul>
                <li>Understood the workings of the Indian Sales Machinery which is rapidly evolving but still has a significant portion of Gen. Trade</li>
                <li>Managed a $150,000 per month business for the company by simultaneously helping them set up a new distributor for the market</li>
                <li>Lead several new initiatives to develop the distributor and achieved a successful turn-around with a Q-o-Q growth of 35% in sales</li>
                <li>With a special focus on the rapidly evolving SSS scenario in the current market achieved a Q-o-Q growth of 41% in the SSS channel</li>
                <li>Led a team of 12 Salespersons to effectively manage a market of 2000 retailers to ensure the right products and on-time service</li>
              </ul>
            </td>

          </tr>
          <tr>
            <td>Management Trainee, <em>Marketing</em>
            </td>

            <td>Jan'22 --</td>
          </tr>
          <tr>
            <td colspan="2">
              <ul>
                <li>Leading a month-long, skin care regime building campaign for the brand Neutrogena with a combined reach of 25 million people</li>
                <li>Leading a pilot project to launch a Skin Advisor Chatbot that connects the J&J’s Healthy Skin Advisors directly with the consumers</li>
              </ul>
            </td>
      </table>
    </div>

  </div>

  <div class="contact-me">
    <h2>Get In Touch</h2>
    <h3>If you are impressed with what you are seeing, then let's talk!</h3>
    <p>Click on the CONTACT ME button to send me a mail </p>
    <button><a class="btn" href="mailto:name@email.com">CONTACT ME</a></button>
  </div>

  <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-->

  <div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/in/vineeth-nekkanti-78381b174/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/">Twitter</a>
    <a class="footer-link" href="https://www.iamvineeth.com/">Website</a>
    <p>© Vineeth Nekkanti.</p>
  </div>



</body>

</html>
